body {
    margin: 0;
    padding: 0;
    background-color: #fbfbfb;
    width: 100%;
    height: 100%;
    color:  black; 
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 1em 0 1em 0;
    position: relative;
    width: 100%;
}

nav {
    padding: 0 2em 1em 2em;
    position: relative;
}

.list{
    padding: 0;
    margin: 0;
    list-style: none;
}

.link-decor,
.popup-unit,
.like-unit {
    text-decoration: none;
}

.link-color,
.popup-unit {
    color: black;
}

.link-underline:hover {
    text-decoration: underline;
}

.nav-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.nav-list-left {
    width: 33%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.nav-unit {
    display: flex;
}

.nav-unit-left {
    margin-right: 1em;
}

.nav-link {
    color: black;
    font-size: 0.85em;
    line-height: 1.2;
    text-align: center;
    font-weight: 500;
}

.nav-picture {
    width: 2em;
    height: 1.5em;
}

.nav-picture-specification:hover {
    fill: red;
}

.nav-link-specification {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

.logotype {
    padding-top: 1.2em;
}

.nav-list-right {
    width: 33%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
}

.nav-unit-right {
    margin-left: 1em;
}

.list-right-position {
    position: relative;
}

.nav-image {
    width: 1.7em;
    height: 1.7em;
    margin-right: 0.7em;
}

.popup-authorization {
    display: none;
    position: absolute;
    right: 0;
    box-shadow: 0 24px 38px 3px rgb(0 0 0 / 14%), 0 9px 46px 8px rgb(0 0 0 / 12%), 0 11px 15px -7px rgb(0 0 0 / 20%);
    background: #ffffff;
    width: 300px;
    height: 170px;
    z-index: 300;
}

.popup-authorization-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.popup-authorization-btn {
    text-align: center;
    margin: 1em auto;
    padding: 1em 4em;
    background-color: black;
}

.popup-authorization-btn-link {
    color: white;
    font-size: 1em;
    font-weight: 600;
    text-decoration: none;
}

.popup-authorization-btn:hover {
    opacity: 0.6;
}

.popup-authorization-link {
    font-size: 0.9em;
    font-family: sans-serif;
    color: black;
    padding: 0.25em 1.5em;
}

.popup-authorization-link-item {
    font-size: 0.7em;
    font-family: sans-serif;
    color: black;
    padding: 0.5em 1.9em;
}

.nav-unit-right:hover .popup-authorization {
    display: block;
}

.popup-form {    
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 500;
    display: none;
    align-items: center;
    justify-content: center;
}

.popup-form-background {
    background-color: black;
    display: block;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.popup-form:target{
    display: flex;
}

.popup-form-container{
    max-width: 500px;
    background-color: white;
    color: #000;
    height: auto;
    max-height: 100%;
    margin: 0 auto;
    padding: 24px 32px;
    overflow-y: auto;
}

.popup-form-title{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.popup-form-title-text {
    font-size: 1.5em;
    font-weight: 600;
    font-family: sans-serif;
    margin: 10px 10px 10px 70px;
}

.popup-form-close {
    color: black;
    text-decoration: none;
    font-size: 1.5em;
    padding: 0.5em 0;
}

.popup-form-text {
    font-size: 0.89em;
    font-family: sans-serif;
    margin: 10px 0 10px 10px;
    text-align: center;
}

.popup-label-container {
    margin-bottom: 10px;
}

.popup-form-email,
.popup-form-password {
    font-family: sans-serif;
    font-size: 0.9em;
}

.popup-form-email::after,
.popup-form-password::after {
    content: "*";
    color: #d6001c;
}

.email-item,
.password-item {
    width: 98%;
    margin: 5px 0;
    height: 35px;
    padding: 0 0 0 5px;
    outline: none;
}

.popup-form-box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.popup-form-checkbox-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.popup-form-checkbox-item {
    width: 20px;
    height: 20px;
}

.popup-form-checkbox-text {
    margin: 5px 5px 5px 10px;
    font-size: 1em;
    font-family: sans-serif;
}

.popup-form-link-item {
    font-size: 1em;
    font-family: sans-serif;
    color: black;
}

.popup-form-btn {
    width: 100%;
    background-color: black;
    margin-bottom: 20px;
}

.popup-form-btn-unit {
    color: white;
    padding: 15px 0;
    font-size: 1.5em;
    font-family: sans-serif;
    font-weight: 600;
    background-color: black;
}

.popup-form-knob {
    width: 100%;
    background-color: white;
    color: black;
    padding: 15px 0;
    font-size: 1.2em;
    font-family: sans-serif;
    font-weight: 600;
    margin-bottom: 20px;
    border: 1px solid black;
}

.popup-form-link-unit {
    font-size: 1em;
    font-family: sans-serif;
    color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.nav-text {
    text-transform: uppercase;
    font-size: 0.9em;
}

menu {
    padding: 0;
    position: relative;
}

.search {
    float: right;
}

.search-wrap {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.search-container {
    border-bottom: 1px solid black;
}

.search-item {
    border: none;
    background-color: #fbfbfb;
    padding: 0.75em 0.75em 0.5em 0.5em;
}

.search-item:active,
.search-item:hover,
.search-item:focus-visible {
    outline: 0;
    outline-offset: 0;
}

.search-container input::placeholder {
    color: black;
    font-family: sans-serif;
    font-size: 0.95em;
}

.search-knob {
    padding: 0;
    margin: 0;
    border: 0;
    background-color: #fbfbfb;
    border-bottom: 1px solid black;
}

.search-picture {
    width: 1.3em;
    height: 1.3em;
    margin-top: 0.4em;
}

.nav-menu{
    padding: 0 2em;
}

.nav-menu-container {
    width: 60em;
    margin: 0 auto;
    padding: 1em;
}

.nav-menu-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.nav-menu-item {
    margin-right: 2.5em;
}

.link-outward {
    font-size: 0.905em;
    line-height: 1.2;
    text-align: center;
    font-weight: 500;
    font-family: sans-serif;
}

.popup {
    display: none;
    position: absolute;
    width: 100%;
    border-bottom: 3px solid black;
    z-index: 99;
    left: 0;
}

.popup-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #fbfbfb;
    margin-top: 0.5em;
}

.popup-list {
    list-style: none;
    margin-top: 0;
    padding: 0;
}

.popup-title {
    margin: 0.5em 0 0.3em 0;
    font-size: 0.85em;
    font-family: sans-serif;    
}

.popup-item{
    transition: 0.2s;
}

.popup-item:hover{
    transform: scale(1.2);
}

.popup-unit {
    font-size: 0.8em;
    line-height: 1.5;
}

.nav-menu-she:hover .popup {
    display: block;
    transition-delay: 0.5s;
}

.info-delivery {
    width: 60em;
    margin: 0 auto;
}

.info-delivery-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
}

.info-delivery-item {
    width: 33.33%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.info-delivery-text {
    font-size: 0.8em;
    font-family: sans-serif;
    text-align: center;
    padding: 1em;
}

.info-delivery-text:hover {
    text-decoration: underline;
}

.red-square,
.new,
.like,
.perfect-dress,
.must-have,
.bad,
.discount {
    margin: 1.5em 2em 1.5em 2em;
}

.red-square-container {
    width: 60em;
    height: 40em;
    background-color: #c9002e;
    margin: 0 auto;
}

.red-square-text-container {
    height: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.red-square-text {
    font-size: 1.5em;
    font-family: sans-serif;
    color: white;
    text-align: center;
    margin: 0;
}

.red-square-extent {
    margin-top: 9em;
}

.red-square-big-text {
    font-size: 5.5em;
    font-family: sans-serif;
    color: white;
    text-align: center;
    font-weight: 600;
    margin: 0.2em 0;
}

.red-square-menu {
    margin-top: 2em;
}

.red-square-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.red-square-item {
    margin-right: 0.5em;
}

.red-square-item:hover {
    opacity: 0.85;
}

.red-square-unit {
    color: white;
    text-decoration: none;
    padding: 0.5em;
    border: 1px solid white;
    font-size: 0.85em;
    font-family: sans-serif;
}

.red-square-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 1.5em;
}

.red-square-footer-text {
    color: white;
    font-size: 0.69em;
    font-family: sans-serif;
}

.new-container {
    width: 60em;
    height: 40em;
    margin: 0 auto;
    background-image: url(./img/main/new.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

.new-insert {
    width: 22%;
    height: 12%;
    background-color: black;
    position: absolute;
    right: 36%;
    bottom: 62%;
    border-radius: 4px;
}

.triangle {
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-top-width: 16px;
    border-bottom-width: 16px;
    border-right: 20px solid black;
    position: absolute;
    left: 40.5%;
    bottom: 65.5%;
}

.new-text {
    color: white;
    font-size: 0.9em;
    font-family: sans-serif;
    margin: 0;
}

.new-text-top {
    padding: 1.5em 1.5em 0.5em 1.5em;
}

.new-text-bottom {
    padding: 0em 1.5em 0.9em 1.5em;
}

.new-writing-top {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 72%;
    right: 26%;
    color: white;
    font-size: 2.55em;
    font-weight: 600;
    font-family: sans-serif;
}

.new-writing-center {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 81%;
    right: 43%;
    color: white;
    font-size: 0.8em;
    font-weight: 600;
    font-family: sans-serif;
}

.new-part-knob {
    position: absolute;
    margin: 0;
    top: 87%;
    right: 44.5%;
    padding: 0.6em 1em;
    border: none;
    background-color: white;
    font-family: sans-serif;
    color: black;
    font-size: 0.8em;
    font-weight: 600;
}

.new-part-knob:hover {
    background-color: #edecec;
}

.like-container {
    width: 60em;
    height: 11em;
    margin: 0 auto;
    background-color: #fbfbfb;
}

.like-title{
    font-size: 1em;
    font-family: sans-serif;
    margin: 1em 0;
    color: black;
}

.like-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.like-item {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.like-image-container {
    margin: 0;
    padding: 0;

}

.like-image {
    width: 6em;
    border-radius: 50%;
}

.like-image-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.like-image-text {
    font-size: 0.78em;
    margin: 0.5em 0.5em;
    color: black;
    font-family: sans-serif;
}

.like-image-text-bottom {
    font-size: 0.78em;
    margin: 0 0.5em;
    color: black;
    font-family: sans-serif;
}

.perfect-dress-container {
    width: 60em;
    height: 40em;
    margin: 0 auto;
    background-image: url(./img/festival/screen-festival.webp);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

.perfect-dress-insert {
    width: 22%;
    height: 12%;
    background-color: black;
    position: absolute;
    right: 41%;
    bottom: 40%;
    border-radius: 4px;
}

.perfect-dress-writing-top {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 66%;
    right: 43%;
    color: white;
    font-size: 0.8em;
    font-weight: 600;
    font-family: sans-serif;
}

.perfect-dress-writing-center{
    position: absolute;
    margin: 0;
    top: 60%;
    left: 0%;
    color: white;
    font-size: 1.95em;
    font-weight: 600;
    font-family: sans-serif;
    padding: 2em;
    text-align: center;
}

.must-have-container {
    width: 60em;
    height: 40em;
    margin: 0 auto;
    background-image: url(./img/festival/screen-child.webp);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

.triangle-must-have{
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-top-width: 16px;
    border-bottom-width: 16px;
    border-right: 20px solid black;
    position: absolute;
    left: 76%;
    bottom: 36%;
}

.must-have-insert {
    width: 15.5%;
    height: 12%;
    background-color: black;
    position: absolute;
    left: 78%;
    bottom: 33%;
    border-radius: 4px;
}

.must-have-writing-center{
    position: absolute;
    margin: 0;
    top: 78%;
    left: 32%;
    color: white;
    font-size: 1.95em;
    font-weight: 600;
    font-family: sans-serif;
    text-align: center;
}

.must-have-writing-top {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 74%;
    right: 47%;
    color: white;
    font-size: 0.8em;
    font-weight: 600;
    font-family: sans-serif;
}

.must-have-knob {
    position: absolute;
    margin: 0;
    top: 87%;
    right: 44.5%;
    padding: 0.6em 1em;
    border: none;
    background-color: white;
    font-family: sans-serif;
    color: black;
    font-size: 0.8em;
    font-weight: 600;
}


.bad-container {
    width: 60em;
    height: 40em;
    margin: 0 auto;
    background-image: url(./img/festival/bad.avif);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

.bad-writing-center{
    position: absolute;
    margin: 0;
    top: 73%;
    left: 38%;
    color: white;
    font-size: 1.95em;
    font-weight: 600;
    font-family: sans-serif;
    text-align: center;
}

.bad-writing-top {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 81%;
    right: 33%;
    color: white;
    font-size: 0.8em;
    font-weight: 600;
    font-family: sans-serif;
}

.discount-container {
    width: 60em;
    height: 7.5em;
    margin: 0 auto;
    background-color: #f1ebdf;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.discount-text {
    color: #e50010;
    font-family: sans-serif;
    font-size: 1.5em;
    font-weight: 600;
}

.discount-knob-text {
    color: black;
    padding: 0.3em;
    font-size: 0.75em;
    font-family: sans-serif;
    background-color: #f1ebdf;
    border: 1px solid black;
    margin: 0 0.1em;
}

.register {
    width: 100%;
    background-color: #f1ebdf;
    margin: 1.5em 0;
}

.register-container {
    padding: 2em 0 1em 0;
}

.register-text-container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.register-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0 auto;
    width: 56em;
    padding: 1em 2em 2em 2em;
}

.register-title {
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 600;
    font-family: sans-serif;
    color: black;
    margin: 0 0 0.2em 0;
    text-align: center;    
}

.register-text {
    text-transform: uppercase;
    font-size: 0.6em;
    font-family: sans-serif;
    color: black;
    margin: 0 0 1.5em 0;
    text-align: center;
}

.register-item {
    text-transform: uppercase;
    font-size: 0.75em;
    font-family: sans-serif;
    color: black; 
    margin: 0;
    text-align: center;
}

.register-link {
    width: 18em;
    background-color: #f8f8f8;
}

.register-image {
    width: 288px;
    height: 192px;
}

.register-link-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    height: 147px;
}

.register-link-title {
    text-transform: uppercase;
    font-size: 0.75em;
    font-family: sans-serif;
    color: black; 
    margin: 0;
    text-align: center;
}

.register-link-text {
    text-decoration: none;
    text-align: center;
    font-size: 0.9em;
    color: black;
    font-weight: 600;
    margin: 1em 1em;
}

.register-link-item {
    font-family: sans-serif;
    font-size: 0.8em;
    color: black;
    text-align: center;
}

footer {
    width: 100%;
    background-color: #e4e4e4;
    margin: 1.5em 0 0 0;
}

.footer-container {
    padding: 2em 2em 2em 2em;
    width: 56em;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.footer-block {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 2em;
}

.footer-list {
    width: 25%;
    margin-right: 1em;
}

.footer-list-title {
    font-size: 0.8em;
    font-family: sans-serif;
    text-transform: uppercase;
    margin: 1em 0;
}

.link-mien {
    font-size: 0.8em;
    line-height: 1.8;
    font-family: sans-serif;
}

.footer-list-text {
    font-size: 0.85em;
    font-family: sans-serif;
    line-height: 1.4;
    margin: 1em 0 2em 0;
}


.link-superficies {
    font-size: 0.8em;
    line-height: 1.8;
    font-family: sans-serif;
    text-transform: uppercase;
}

.social-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.social-item {
    margin: 1em 1em;
}

.sprite {
    background-image: url(./img/footer/sprite.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-facebook {
    width: 24px;
    height: 24px;
    background-position: -5px -5px;
    border-radius: 3px;
}

.sprite-instagram {
    width: 24px;
    height: 24px;
    background-position: -39px -5px;
}

.sprite-pinterest {
    width: 24px;
    height: 24px;
    background-position: -73px -5px;
}

.sprite-twitter {
    width: 24px;
    height: 22px;
    background-position: -107px -5px;
}

.sprite-youtube {
    width: 24px;
    height: 17px;
    background-position: -141px -5px;
}

.footer-bottom-text {
    font-size: 1em;
    font-family: sans-serif;
    text-align: center;
    margin: 2em 0;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin: 1em 1em;
}

.footer-logo-text{
    font-size: 1em;
    font-family: sans-serif;
    text-align: center;
}