                                                    /* Aside */
.right-panel {
    width: calc(30% - 60px);
    margin: 30px;
    float: right;
    box-sizing: border-box;
    position: relative;
}
.innerElement {
    position: absolute;
}
.product-final-item-btn {
    background-color: transparent;
    position: absolute;
    right: 0px;
    top: -10px;
    border: none;
    z-index: 100;
}
.aside-image {
    width: 70px;
    height: 100px;
    border: 1px solid black;
}
.star {
    width: 12px;
    height: 12px;
}

.add-size-arrow {
    background-image: url(./img/view-all/arrow-down.svg);
    background-repeat: no-repeat;
    background-position: right 10px bottom 50%;
    padding: 10px;
    width: calc(100% - 22px);
    border: 1px solid #959595;
    outline: none;
}

.add-product-btn {
    text-align: center;
    margin: 1em auto;
    padding: 1em 4em;
    background-color: black;
    width: 100%;
    box-sizing: border-box;
    border: none;
    background-image: url(./img/product/purse.png);
    background-repeat: no-repeat;
    background-position: bottom 50% right 60%;
}

.add-product-link {
    color: white;
    font-size: 1em;
    font-weight: 600;
    text-decoration: none;
}

.delivery-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icon-info {
    margin-right: 5px;
    width: 40px;
    height: 20px;
}

.text-underline {
    text-decoration: none;
}
                                                    /* Main */
.product-final {
    width: calc(70% - 49px);
    height: 100%;
    margin: 0 30px;
}
.product-final-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.final-image-params {
    height: 750px;
    width: 505px;
    object-fit: cover;
}
.margin-rigth {
    margin-right: 5px;
}
.product-description {
    background-color: white;
    margin: 0 auto;
    padding: 60px 170px;
    margin-bottom: 30px;
}
.description-checkbox {
    border-top: 1px solid #D0D0D0;
    padding: 0 24px;
}
.padd {
    padding: 15px 0;
}
.text-basic {
    font-family: sans-serif;
    line-height: 1.6;
    font-size: 16px;
}
.product-text-bold {
    font-family: sans-serif;
    line-height: 1.6;
    font-size: 13px;
    color: black;
    font-weight: 600;
}
.text-thesis {
    font-family: sans-serif;
    line-height: 1.6;
    font-size: 12px;
    color: #707070;
}
.product-text-align {
    margin-left: 140px;
}
.fits-size-link {
    color: black;
    text-decoration: none;
}
.fits-size-link:hover {
    color: black;
    text-decoration: underline;
}
.respond {
    position: relative;
}
.fits-size-border {
    border: 1px solid #7070707a;
    width: 70%;
    margin: 0 auto;
}
.circle {
    width: 13px;
    height: 13px;
    border-radius: 7px;
    background-color: black;
    position: absolute;
    top: -6px;
    left: 250px;
}
.description-text,
.description-material-provider {
    display: none;
    margin-bottom: 30px;    
}
#description,
#description-material {
    display: none;
    padding: 0 24px;
}
#description:checked~label>.description-text,
#description-material:checked~label>.description-material-provider {
    display: block;
}
.description-title {
    font-family: sans-serif;
    line-height: 1.6;
    font-size: 15px;
    color: black;
    font-weight: 600;
    margin: 10px 0;
}
.info-text-container {
    margin: 0;
}
.material-text{
    color: #707070;
    font-family: sans-serif;
    line-height: 1.6;
    font-size: 12px;
}
.provider-btn {
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    color: black;
}
.provider-btn:hover {
    background-color: #a7a7a7;
}
article{
    width: 100%;
    margin-bottom: 35rem;
}
.fits-to{
    position: relative;
}
.slide-title{
    font-weight: bold;
    margin-left: 180px;
    margin-top: 70px;
    font-size: 24px;
}
.slider {
    overflow: hidden;
    box-sizing: border-box;
    position: absolute;
    white-space: nowrap;
    width: 1190px;
    height: 550px;
    left: 12%;
}
.slide-container {
    transition: transform 400ms ease-out;
    display: inline-block;
    min-height: 100%;
    width: 1190px;
    height: 550px;
    position: relative;
    z-index: 1;
    margin: 0 auto;
}
.slide-picture{
    width: 278px;
    height: 417px;
    object-fit: cover;
}
.slide-text,
.slide-price{
    text-decoration: none;
    font-size: 14px;
    margin: 5px 0;
}
.slide-text{
    color: #000;
    margin: 30px 0 0 0;
}
.slide-price{
    color: red;
    margin: 5px 0;
}
.slide-text:hover{
    text-decoration: underline;
}
.marg-left{
    margin-left: 10px;
}
input[type="radio"]:nth-of-type(1):checked ~ label:nth-of-type(2),
input[type="radio"]:nth-of-type(2):checked ~ label:nth-of-type(3),
input[type="radio"]:nth-of-type(3):checked ~ label:nth-of-type(4),
input[type="radio"]:nth-of-type(4):checked ~ label:nth-of-type(5){
   z-index: 0;
}
input[type="radio"]:nth-of-type(1):checked ~ .slide-container {
	transform: translate3d(-100%, 0, 0);
}
input[type="radio"]:nth-of-type(2):checked ~ .slide-container {
	transform: translate3d(-200%, 0, 0);
}
input[type="radio"]:nth-of-type(3):checked ~ .slide-container {
	transform: translate3d(-300%, 0, 0);
}
input[type="radio"]:nth-of-type(4):checked ~ .slide-container {
	transform: translate3d(-400%, 0, 0);
}
.slide-content {
    width: 25%;
    float: left;
    white-space: normal;
    position: relative;
}
.slide-link {
    text-decoration: none;
}
input[type="radio"] {
    display: none;
    position: absolute;
}
.slide-container::after {
    content: '\01F852';
    color: black;
    left: -35px;
    top: 77%;
    padding: 0 5px 0;
    position: absolute;
}
.slide-container::before{
    content: '\01F850';
    color: black;
    right: -18px;
    top: 77%;
    padding: 0 5px 0;
    position: absolute;
}
.slide-btn{
    background-color: transparent;
    position: absolute;
    border: none;
    z-index: 100;
    left: 230px;
    bottom: 90px;    
}
#slide1-input,
#slide2-input,
#slide3-input,
#slide4-input,
#slide5-input,
#slide6-input,
#slide7-input,
#slide8-input,
#slide9-input,
#slide10-input,
#slide11-input,
#slide12-input,
#slide13-input,
#slide14-input,
#slide15-input,
#slide16-input,
#slide17-input,
#slide18-input,
#slide19-input,
#slide20-input,
#slide21-input,
#slide22-input,
#slide23-input,
#slide24-input
{
    opacity: 0;
}
#slide1-input:checked ~ #label-btn,
#slide2-input:checked ~ #label-btn,
#slide3-input:checked ~ #label-btn,
#slide4-input:checked ~ #label-btn,
#slide5-input:checked ~ #label-btn,
#slide6-input:checked ~ #label-btn,
#slide7-input:checked ~ #label-btn,
#slide8-input:checked ~ #label-btn,
#slide9-input:checked ~ #label-btn,
#slide10-input:checked ~ #label-btn,
#slide11-input:checked ~ #label-btn,
#slide12-input:checked ~ #label-btn,
#slide13-input:checked ~ #label-btn,
#slide14-input:checked ~ #label-btn,
#slide15-input:checked ~ #label-btn,
#slide16-input:checked ~ #label-btn,
#slide17-input:checked ~ #label-btn,
#slide18-input:checked ~ #label-btn,
#slide19-input:checked ~ #label-btn,
#slide20-input:checked ~ #label-btn,
#slide21-input:checked ~ #label-btn,
#slide22-input:checked ~ #label-btn,
#slide23-input:checked ~ #label-btn,
#slide24-input:checked ~ #label-btn{
    fill: #e50010;
    stroke: #e50010;
}
#label-btn{
    fill: white;
    stroke: black;
}
#label-btn:hover{
    fill: red;
    stroke: black;
}
