                                                    /* Aside */

.right-panel {
    width: calc(30% - 60px);
    margin: 30px;
    float: right;
    box-sizing: border-box;
    position: relative;
}

.innerElement {
    position: absolute;
}

.product-final-item-btn {
    background-color: transparent;
    position: absolute;
    right: 0px;
    top: -10px;
    border: none;
    z-index: 100;
}

.aside-image {
    width: 70px;
    height: 20vh;
    border: 1px solid black;
}

.star {
    width: 12px;
    height: 12px;
}

.add-size-arrow {
    background-image: url(./img/view-all/arrow-down.svg);
    background-repeat: no-repeat;
    background-position: right 10px bottom 50%;
    padding: 10px;
    width: calc(100% - 22px);
    border: 1px solid #959595;
    outline: none;
}

.add-product-btn {
    text-align: center;
    margin: 1em auto;
    padding: 1em 4em;
    background-color: black;
    width: 100%;
    box-sizing: border-box;
    border: none;
    background-image: url(./img/product/purse.png);
    background-repeat: no-repeat;
    background-position: bottom 50% right 60%;
}

.add-product-link {
    color: white;
    font-size: 1em;
    font-weight: 600;
    text-decoration: none;
}

.delivery-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icon-info {
    margin-right: 5px;
    width: 40px;
    height: 20px;
}

.text-underline {
    text-decoration: none;
}



                                                    /* Main */
.product-final {
    width: calc(70% - 49px);
    height: 100%;
    margin: 0 30px;
}

.product-final-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.final-image-params {
    height: 750px;
    width: 505px;
    object-fit: cover;
}

.margin-rigth {
    margin-right: 5px;
}

.product-description {
    background-color: white;
    margin: 0 auto;
    padding: 60px 170px;
    margin-bottom: 30px;
}

.description-checkbox {
    border-top: 1px solid #D0D0D0;
    padding: 0 24px;
}

.padd {
    padding: 15px 0;
}

.text-basic {
    font-family: sans-serif;
    line-height: 1.6;
    font-size: 16px;
}

.product-text-bold {
    font-family: sans-serif;
    line-height: 1.6;
    font-size: 13px;
    color: black;
    font-weight: 600;
}

.text-thesis {
    font-family: sans-serif;
    line-height: 1.6;
    font-size: 12px;
    color: #707070;
}

.product-text-align {
    margin-left: 140px;
}

.fits-size-link {
    color: black;
    text-decoration: none;
}

.fits-size-link:hover {
    color: black;
    text-decoration: underline;
}

.respond {
    position: relative;
}

.fits-size-border {
    border: 1px solid #7070707a;
    width: 70%;
    margin: 0 auto;
}

.circle {
    width: 13px;
    height: 13px;
    border-radius: 7px;
    background-color: black;
    position: absolute;
    top: -6px;
    left: 250px;
}

.description-text,
.description-material-provider {
    display: none;
    margin-bottom: 30px;    
}

#description,
#description-material {
    display: none;
    padding: 0 24px;
}

#description:checked~label>.description-text,
#description-material:checked~label>.description-material-provider {
    display: block;
}

.description-title {
    font-family: sans-serif;
    line-height: 1.6;
    font-size: 15px;
    color: black;
    font-weight: 600;
    margin: 10px 0;
}

.info-text-container {
    margin: 0;
}

.material-text{
    color: #707070;
    font-family: sans-serif;
    line-height: 1.6;
    font-size: 12px;
}

.provider-btn {
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    color: black;
}

.provider-btn:hover {
    background-color: #a7a7a7;
}