.main-service {
    padding: 2em;
    display: grid;
    grid-template-columns: 23% 54% 23%;
    place-content: space-between;
}
   
.aside-title {
    margin: 1em 0 0.5em 0;
    font-size: 0.88em;
    font-family: sans-serif;
    color: black;
}

.link-look {
    font-size: 0.85em;
    line-height: 1.6;
    text-align: center;
    font-weight: 500;
    font-family: sans-serif;
}

.link-look:hover {
    color: #d6001c;
}

.service,
.popular-theme {
    padding: 1em;
}
.service-title {
    font-size: 2.2em;
    font-family: sans-serif;
    text-align: center;
    margin: 0.5em 0;
}

.service-text{
    font-size: 1.2em;
    font-family: sans-serif;
    text-align: center;
    font-weight: 600;
    margin: 1em 0;
}

.service-item {
    text-transform: uppercase;
    font-size: 0.8em;
    font-family: sans-serif;
    text-align: center;
    margin: 2em 0;
}

.order {
    display: grid;
    grid-template-columns: 48% 4% 48%;
    background-color: #ffffff;
    margin: 0 auto;
    width: 50em;
}

.location,
.return {
    padding: 3em 3em 2em;
}

.location-title-container,
.return-title-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.location-title-image,
.return-title-image {
    width: 35px;
    height: 25px;
}

.location-title,
.return-title {
    margin: 1em 0.5em;
    text-transform: uppercase;
    font-size: 0.95em;
    font-family: sans-serif;
    text-align: center;
}

.location-text {
    margin: 1em 0 3em 0;
    font-size: 0.95em;
    font-family: sans-serif;
    line-height: 1.5;
}

.return-text {
    margin: 1em 0 4em 0;
    font-size: 0.95em;
    font-family: sans-serif;
    line-height: 1.5;
}

.location-item{
    width: 100%;
}

.location-number-text {
    margin: 1em 0 1em 0;
    font-size: 1em;
    font-family: sans-serif;
    line-height: 1.2;
}

.location-number-text::after {
    content: "*";
    color: #d6001c;
}

.location-number {
    width: inherit;
    padding: 1em;
    margin: 0 0 2em 0;
    border: 1px solid #d0d0d0;
    box-sizing: border-box;
    outline: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

  input[type="number"]:hover,
  input[type="number"]:focus {
    -moz-appearance: number-input;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.location-knob-container,
.return-knob-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.location-knob,
.return-knob {
    padding: 0.75em;
    color: #fff;
    background-color: #000;
    font-size: 1.2em;
    font-weight: 600;
}

.background-look {
    background-color: #fbfbfb;
}

.popular-theme-container {
    width: 50em;
    margin: 0 auto;
}

.popular-theme-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.popular-theme-item {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff;
    padding: 1em 2em;
    width: 10%;
    margin-left: 1em;
}

.sprite-popular {
    background-image: url(./img/service/sprite-popular.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-popular-delivery {
    width: 38px;
    height: 39px;
    background-position: -53px -5px;
}

.sprite-popular-return {
    width: 38px;
    height: 39px;
    background-position: -149px -5px;
}

.sprite-popular-pay {
    width: 38px;
    height: 39px;
    background-position: -101px -5px;
}

.sprite-popular-certificat {
    width: 38px;
    height: 39px;
    background-position: -5px -5px;
}

.popular-theme-link {
    margin: 0.5em;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.8em;
    font-family: sans-serif;
    text-align: center;
    font-weight: 600;
    color: #000;
}

.popular-theme-link:hover {
    text-decoration: underline;
    color: #d6001c;
}

.document-text {
    font-size: 1em;
    font-family: sans-serif;
    text-align: center;
    line-height: 1.5;
    margin: 1em 2em;
}

.document-link {
    color: #000;
}

.icon-chat-container {    
    position: fixed;
    z-index: 99;
    bottom: 3em;
    right: 3em;
}

.icon-chat-picture {
    border-radius: 50px;
}

.data-entry~.chatbot {
    display: none;
}

.data-entry:checked~.chatbot {
    display: block;
}

/* .data-entry:checked~.data-entry {
    display: none;
} */

.data-entry {
    position: fixed;
    z-index: 99;
    bottom: 4em;
    right: 3.5em;
    opacity: 0;
    width: 70px;
    height: 70px;
    margin: 0;
}

.chatbot {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 150;
}

.chatbot-container {
    box-shadow: 0 24px 38px 3px rgb(0 0 0 / 14%), 0 9px 46px 8px rgb(0 0 0 / 12%), 0 11px 15px -7px rgb(0 0 0 / 20%);
    background: #ffffff;
    box-sizing: border-box;
    /* overflow: auto; */
    position: fixed;
    top: 25%;
    bottom: 1%;
    right: 0;
    width: 22.5em;
    height: 100%;
}

@keyframes spinner {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

#chatbot-spinner {
    display: none;
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50px;
    border: 2px solid blue;
    border-top-color: lightblue;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    animation-name: spinner;
    animation-duration: 4s;
    animation-iteration-count: 3;
}

#chatbot-messages{
    overflow-y: scroll;
}

.chatbot-title-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
}    

.chatbot-title {
    margin: 0;
    color: #fff;
    padding: 0.5em;
    font-size: 1em;
}

.chatbot-title-picture:hover {
    opacity: 0.7;
}

.chatbot-text {
    padding: 1em;
    text-align: center;
    font-size: 0.77em;
    font-family: sans-serif;
    line-height: 1.2;
    margin: 0;
}

.chatbot-info {
    margin: 1em;
    padding: 1em;
    text-align: left;
    font-size: 0.8em;
    font-family: sans-serif;
    line-height: 1.2;
    border: 1px solid #868383;
}

.chatbot-box {
}

.chatbot-input-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0 1em;
    position: fixed;
    bottom: 4em;
    width: 20em;
}

.chatbot-input {
    padding: 1em 1em;
    outline: none;
    width: 18em;
}

.chatbot-input-picture {
    width: 16px;
    height: 16px;
    padding: 1em 1em;
    background-color: #e4e4e4;
}

.chatbot-download {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin: 1em 1em 0 1em;
    position: fixed;
    bottom: 1em;
}

.chatbot-download-picture {
    width: 16px;
    height: 12px;
    margin: 0.5em 0.5em;
}

.chatbot-download-text {
    font-size: 0.8em;
    font-family: sans-serif;
    color: #e4e4e4;
    margin: 0.5em;
}