.main-service {
    padding: 2em;
    display: grid;
    grid-template-columns: 15em 60em 15em;
    place-content: space-between;
}
   
.aside-title {
    margin: 0.5em 0 1em 0;
    font-size: 0.88em;
    font-family: sans-serif;
    color: black;
}

.link-look {
    font-size: 0.85em;
    line-height: 1.6;
    text-align: center;
    font-weight: 500;
    font-family: sans-serif;
}
.service,
.popular-theme {
    padding: 1em;
}
.service-title {
    font-size: 2.4em;
    font-family: sans-serif;
    text-align: center;
    margin: 0.5em 0;
}

.service-text{
    font-size: 1.2em;
    font-family: sans-serif;
    text-align: center;
    font-weight: 600;
    margin: 1em 0;
}

.service-item {
    text-transform: uppercase;
    font-size: 0.8em;
    font-family: sans-serif;
    text-align: center;
    margin: 2em 0;
}

.order {
    display: grid;
    grid-template-columns: 49.5% 3% 49.5%;
    background-color: #ffffff;
    margin: 0 1.5em;
}

.location,
.return {
    padding: 3em 3em 2em;
}

.location-title-container,
.return-title-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.location-title-image,
.return-title-image {
    width: 35px;
    height: 25px;
}

.location-title,
.return-title {
    margin: 1em 0.5em;
    text-transform: uppercase;
    font-size: 0.95em;
    font-family: sans-serif;
}

.location-text {
    margin: 1em 0 3em 0;
    font-size: 0.95em;
    font-family: sans-serif;
    line-height: 1.5;
}

.return-text {
    margin: 1em 0 5.5em 0;
    font-size: 0.95em;
    font-family: sans-serif;
    line-height: 1.5;
}

.location-item{
    width: 100%;
}

.location-number-text {
    margin: 1em 0 1em 0;
    font-size: 1em;
    font-family: sans-serif;
    line-height: 1.2;
}

.location-number-text::after {
    content: "*";
    color: #d6001c;
}

.location-number {
    width: inherit;
    padding: 1em;
    margin: 0 0 2em 0;
    border: 1px solid #d0d0d0;
    box-sizing: border-box;
    outline: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

  input[type="number"]:hover,
  input[type="number"]:focus {
    -moz-appearance: number-input;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.location-knob-container,
.return-knob-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.location-knob,
.return-knob {
    padding: 0.75em;
    color: #fff;
    background-color: #000;
    font-size: 1.2em;
    font-weight: 600;
}

.background-look {
    background-color: #fbfbfb;
}

.sprite-popular {
    background-image: url(./img/service/sprite-popular.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-popular-certificat {
    width: 38px;
    height: 35px;
    background-position: -5px -5px;
}

.sprite-popular-delivery {
    width: 38px;
    height: 39px;
    background-position: -53px -5px;
}

.sprite-popular-pay {
    width: 38px;
    height: 40px;
    background-position: -101px -5px;
}

.sprite-popular-return {
    width: 40px;
    height: 32px;
    background-position: -149px -5px;
}
