.view-all-main {
    display: flex;
}

.she-all {
    width: 200px;
    padding: 24px;
}

.she-all-popup-unit {
    color: red;
}

.she-view-all {
    width: 100%;
    height: 100%;
    padding: 0 32px;
}

.publicity {
    box-sizing: border-box;
    background-color: #f1ebdf;
    width: inherit;
    height: 200px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.publicity-title {
    color: #e50010;
    font-family: sans-serif;
    font-size: 36px;
    margin: 0;
}

.publicity-text {
    font-size: 16px;
    font-family: sans-serif;
    margin: -50px 0 0px 0;
}

.publicity-links {
    margin-bottom: 15px;
}

.publicity-link {
    color: black;
    text-decoration: none;
    padding: 10px;
    border: 1px solid black;
    font-size: 20px;
    font-weight: 600;
    font-family: sans-serif;
    margin-right: 5px;
}

.publicity-link:hover {
    text-decoration: underline;
}

.see-all-title {
    text-transform: uppercase;
    font-size: 30px;
    font-family: sans-serif;
    margin: 32px 0 0;
}

.see-all-filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.filter-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}

.filter-link {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-family: sans-serif;
    margin: 0 20px 0 0;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.input-filter {
    display: none;
}

.arrow-up,
.arrow-up-up-level {
    display: none;
}

.arrow-down,
.arrow-down-up-level {
    display: block;
}

:checked~label>.filter-list {
    display: block;
    position: absolute;
    z-index: 1;
    /* background-color: #fbfbfb; */
    width: 320px;
    background-color: #ff8282;
}

:checked~label>.filter-title {
    color: #e50010;    
}

:checked~label>.filter-title-up-level {
    color: #e50010;    
}


.over-none {
    overflow: initial !important;
    position: relative !important;
}

:checked~label>.filter-title>.arrow-down {
   display: none;    
}

:checked~label>.filter-title-up-level>.arrow-down-up-level {
    display: none;    
}

:checked~label>.filter-title>.arrow-up {
    display: block;
}

:checked~label>.filter-title-up-level>.arrow-up-up-level {
    display: block;
}

.filter-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
}

.filter-title-up-level {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
}


.filter-picture {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: nowrap;
    margin-left: 10px;
    margin-bottom: 6px;
}

.filter-list {
    display: none;
    margin: 0;
    list-style: none;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 50%;
}

.arrow-down,
.arrow-up {
    margin-left: 5px;
}

.see-all-product {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.filter-item {
    padding: 16px 24px 16px 16px;
    text-transform: none;
}

.filter-item-up-level {

}

.filter-item-down-level {

}

.filter-item:hover {
    background-color: #f4eddd;
    z-index: 1;
}

.filter-item-label {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.input-decor {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline-block;
    position: relative;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    margin-right: 5px;
    border: 1px solid #999999;
    background-color: #ffffff;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.1);
    cursor: pointer;
    outline: none;
    box-sizing: border-box;
    transition: .5s all;
}

.input-decor:checked::before {
    content: '';
    position: absolute;
    width: 11px;
    height: 11px;
    border-radius: 6px;
    background-color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.filter-picture-item {
    width: 25px;
    height: 18px;
    margin-right: 5px;
}

.filter-text-item {
    font-size: 27px;
    padding: 0 10px;
}

#input-square {
    display: none;
}

.color-square-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.color-square-container-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.color-square-container-element {
    display: flex;
    justify-content: flex-end;
}

.color-square {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline-block;
    position: relative;
    height: 25px;
    width: 25px;
    border-radius: 5px;
    margin-right: 5px;
    border: 1px solid #999999;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.1);
    cursor: pointer;
    outline: none;
    box-sizing: border-box;
    transition: .5s all;
}

.color-square-white {
    background-color: #ffffff;
    z-index: 10;
}

.color-square-brown {
    background-color: #a52a2a;
    z-index: 10;
}

.color-square-black {
    background-color: black;
    z-index: 10;
}

.color-square-red {
    background-color: #ff0000;
    z-index: 10;
}

.color-square-violet {
    background-color: #800080;
    z-index: 10;
}

.color-square-blue {
    background-color: #0000ff;
    z-index: 10;
}

.color-square-orange {
    background-color: #ffa500;
    z-index: 10;
}

.color-square-pink {
    background-color: #ffc0cb;
    z-index: 10;
}

.color-square-gray {
    background-color: #c0c0c0;
    z-index: 10;
}

.color-square-turquoise {
    background-color: #40e0d0;
    z-index: 10;
}

.color-square-green {
    background-color: #008000;
    z-index: 10;
}

.color-square-gold {
    background-color: #ffd700;
    z-index: 10;
}

.color-square-text {
    padding: 5px 0 0 5px;
}

.color-square-number {
    font-size: 11px;
    line-height: 16px;
    color: #707070;
}

.all-product-text {
    font-size: 22px;
    font-family: sans-serif;
    font-weight: 600;
}

.product-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.product-item {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}

.product-item-btn {
    position: absolute;
    right: 0px;
    bottom: 125px;
    border: none;
}

#isexpanded,
#input-red-suit,
#input-red-jacket,
#input-pink-bag,
#input-earrings,
#input-body,
#input-sandals,
#input-dress {
    opacity: 0;
}

#isexpanded-btn {
    fill: white;
    stroke: black;
}

#isexpanded:checked ~ #isexpanded-btn,
#input-red-suit:checked ~ #isexpanded-btn,
#input-red-jacket:checked ~ #isexpanded-btn,
#input-pink-bag:checked ~ #isexpanded-btn,
#input-earrings:checked ~ #isexpanded-btn,
#input-body:checked ~ #isexpanded-btn,
#input-sandals:checked ~ #isexpanded-btn,
#input-dress:checked ~ #isexpanded-btn {
    fill: #e50010;
    stroke: #e50010;
}

.product-image {
    width: 300px;
    height: 450px;
}

.product-link {
    font-size: 16px;
    font-family: sans-serif;
    color: black;
    text-decoration: none;
    padding: 20px 0 0;
}

.product-link:hover {
    text-decoration: underline;
}

.product-item-text {
    font-size: 16px;
    font-family: sans-serif;
    padding: 10px 0 10px;
    margin: 0;
}

.product-item-color-red {
    background-color: #B32B34;
    padding: 5px;
    border-radius: 32px;
}

.product-item-color-pink {
    background-color: #C10076;
    padding: 5px;
    border-radius: 32px;
}

.product-item-color-gold {
    background-color: #B1A646;
    padding: 5px;
    border-radius: 32px;
}

.product-item-color-rose {
    background-color: #ffdbe2;
    padding: 5px;
    border-radius: 32px;
}

.product-item-color-black {
    background-color: black;
    padding: 5px;
    border-radius: 32px;
}

.product-element-text {
    font-size: 12px;
    font-family: sans-serif;
    margin: 10px 0;
}

.show-more {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.show-more-text {
    font-size: 12px;
    font-family: sans-serif;
    margin: 20px 0 0 0;
    padding: 5px;
}

.line-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 400px;
    height: 5px;
    margin: 10px;
}

.line-finish {
    background: #d0d0d0;
    height: inherit;
    width: calc(100% - 25%);
}

.line-start {
    background: black;
    height: inherit;
    width: calc(100% - 75%);
}